body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

main {
  min-height: calc(100vh - 100px);
}

section {
  position: relative;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Page 1 */
.page1 {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

/* using ::before because we want to apply opacity to bg image only */
.page1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("img/arboretum.jpg") no-repeat fixed center;
  opacity: 0.3;
  filter: brightness(50%);
}

.page1-profile {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}
.profile-name {
  font-family: "Sue Ellen Francisco", sans-serif;
  font-size: 70px;
}
.profile-desc {
  font-family: "Sue Ellen Francisco", sans-serif;
  font-size: 30px;
  text-align: center;
}

.down-arrow {
  position: absolute;
  bottom: 5%;
  justify-content: center;
}

/* Page 2 */

.aboutme,
.projects {
  margin-top: 70px;
}

.heading {
  font-size: 3rem;
  font-family: "Sue Ellen Francisco", sans-serif;
}

.aboutme-desc {
  line-height: 30px;
}

.project1 {
  display: flex;
  margin-bottom: 80px;
}

.left-col {
  flex: 70%;
}

.right-col {
  flex: 30%;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-date {
  color: #999;
}

.project-desc {
  margin-right: 10px;
  line-height: 30px;
}

.project-tools span {
  background-color: #03b875;
  color: white;
  padding: 4px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.project-tools span a {
  text-decoration: none;
  color: white;
}

.project-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 23px -5px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
}
.project-img:hover {
  transform: scale(1.05);
}

.img-mobile-container {
  display: flex;
  justify-content: center;
}

.img-mobile {
  max-width: 50%;
}

.project-link {
  text-decoration: none;
  border-bottom: #03b875 solid 2px;
  color: inherit;
  transition: all 0.3s;
}
.project-link:hover {
  color: white;
  background-color: #03b875;
  text-decoration: none;
}

/* Last updated */
.last-updated-row {
  margin-bottom: 70px;
}

#last-updated {
  color: #999999;
  font-size: 16px;
}

/* Footer */
footer {
  height: 50px;
  text-align: center;
}

.footer-contact {
  padding-top: 1rem;
}

.footer-copyright {
  color: #999999;
}

.fab,
.fas {
  opacity: 0.75;
  color: #999999;
  margin: 0 10px;
  transition: all 0.3s;
}

.fab:hover,
.fas:hover {
  color: #03b875;
}
.footer-copyright {
  padding: 1rem 0 1rem 0;
}

/* Responsiveness */
@media (max-width: 768px) {
  .project1 {
    display: block;
    margin-bottom: 40px;
  }
  .project-title,
  .project-desc,
  .project-img-link,
  .project-img {
    margin-bottom: 20px;
  }
  .project-tools {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
