html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  min-height: calc(100vh - 100px);
}

section {
  height: 100vh;
  position: relative;
}

/* Page 1 */
.page1 {
  position: relative;
  display: flex;
  justify-content: center;
}

/* using ::before because we want to apply opacity to bg image only */
.page1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("img/arboretum.jpg") no-repeat fixed center;
  opacity: 0.5;
}

.page1-profile {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}
.profile-name {
  font-family: "Sue Ellen Francisco", sans-serif;
  font-size: 70px;
}
.profile-desc {
  font-family: "Sue Ellen Francisco", sans-serif;
  font-size: 30px;
}

/* Page 2 */

.project-img {
  width: 100%;
}

.card-btn {
  padding: 0 0 1.25rem 1.23rem;
}

/* Footer */
footer {
  /* height: 50px; */
  text-align: center;
}

.footer-contact {
  padding-top: 1rem;
}

.fab,
.fas {
  opacity: 0.75;
  color: #999999;
}
.footer-copyright {
  padding: 1rem 0 0 0;
}
